
  <h2 class="text-center mb-4">Update Game</h2>
<form #gameForm="ngForm" class="update">
    <div class="form-group">
      <label for="name">Nume</label>
      <input type="text" id="name" name="name" [(ngModel)]="newGame.name" required class="form-control" placeholder="Nume Joc">
    </div>
    <div class="form-group">
      <label for="genre">Gen</label>
      <input type="text" id="genre" name="genre" [(ngModel)]="newGame.genre" required class="form-control" placeholder="Action">
    </div>
    <div class="form-group">
      <label for="price">Pret</label>
      <input type="number" id="price" name="price" [(ngModel)]="newGame.price" required class="form-control" placeholder="99.99$">
    </div>
    <div class="form-group">
      <label for="imageUrl">Imagine(url)</label>
      <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="newGame.imageUrl" required class="form-control" placeholder="https://Imagine">
    </div>
    <button type="submit" class="btn btn-primary butonsubmit" (click)="updateGame(newGame, gameId)">Update</button>

  </form>